@CHARSET "ISO-8859-2";
body{
	font-family: Arial;
}
h1.header{
	color: gray;
}
span.obligatory{
	color: red;
	font-size: 16px;
}
.firstColumn{
	display: inline-block;
	width: 200px;
}
.subtitle{
	color: white;
	background-color: gray;
	padding: 10px 6px;
	font-size: 14px;
	font-weight: bolder;
}
.categories{
	background-color: #B0B0B0 ;
	height: 100%;
}
.values{
	background-color: #B0B0B0 ;
	width: 500px;
	height: 300px;
	padding: 10px;
}

.category{
	padding: 5px;
}
.categoryHeader, .parameterHeader, .value{
	background-color: #D0D0D0 ;
	height: 30px;
	padding: 5px;
	line-height: 30px;
}
.categoryHeader, .value{
	margin: 10px;
}
.parameterHeader{
	margin: 10px 10px 10px 30px;
}
.parameter .firstColumn{
	margin-left: 40px;
}
.categoryParameters{
	margin-left: 15px;
}
.clear{
	clear: both;
}

input.button{
	background-color: #336666;
	color: white;
	float: right;
	height: 30px;
}
input.buttonOrange{
	background-color: #FF9933;
	color: white;
	float: right;
	height: 30px;
}
.parameter{
	margin-left: 20px;
}
.newParameter, .newCategory, .newValue{
	display: none;
}
.editValuesButton{
	float: none !important;
}
.error{
	color: red;
}